.logDiv {
 	position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.logDiv {
	height:200px;
	width:400px;
	background-color:#c1bbba;
	text-align:center;
	vertical-align:middle;
	display: table;
}
.content{
	display: table-cell; vertical-align: middle;
}
.navbar-default .navbar-nav>li>a:hover{

	color: red;

}
.navbar-default .navbar-nav>li>a{

	color: white;

}
.navbar-default{
	background-color: #0079bb;
}
